In [2]:
d = {"a": 1, "b": 2, "c": 3}
d["b"] = 200
d

{'a': 1, 'b': 200, 'c': 3}

In [3]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}

d1.update(d2)
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [4]:
d1 = {"a": 1, "b": 2}

d1.update(b=20, c=30, x=40)
d1

{'a': 1, 'b': 20, 'c': 30, 'x': 40}

In [7]:
d1 = {"a": 1, "b": 2}
d1.update([("c", 3), ["d", 4]])
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [8]:
d1 = {"a": 1, "b": 2}
d1.update((k, ord(k)) for k in "python")
print(d1)

{'a': 1, 'b': 2, 'p': 112, 'y': 121, 't': 116, 'h': 104, 'o': 111, 'n': 110}

In [9]:
l1 = [1, 2, 3]
l2 = "abc"
l = (*l1, *l2)
print(l)

(1, 2, 3, 'a', 'b', 'c')

In [12]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}

d = {**d1, **d2}
print(d)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [13]:
conf_defaults = dict.fromkeys(("host", "port", "user", "pwd", "database"), None)

conf_defaults

{'host': None, 'port': None, 'user': None, 'pwd': None, 'database': None}

In [16]:
conf_global = {"port": 5432, "database": "deepdive"}

conf_dev = {"host": "localhost", "user": "test", "pwd": "test"}
conf_prod = {"host": "prodpg.deepdive.com", "user": "$prod_user", "pwd": "$prod_pwd", "database": "deepdive_prod"}

In [17]:
conf = {**conf_defaults, **conf_global, **conf_dev}
conf = {**conf_defaults, **conf_global, **conf_prod}

In [18]:
def my_func(*, kw1, kw2, kw3):
    print(kw1, kw2, kw3) 


d = {"kw2": 20, "kw1": 10, "kw3": 30}

my_func(**d)

10 20 30

In [23]:
def my_func(**kwargs): 
    for k, v in kwargs.items():
        print(k, v)

In [24]:
my_func(a=1, b=2)

a 1
b 2

In [25]:
my_func(b=1, a=2)

b 1
a 2

In [26]:
my_func(**d)

kw2 20
kw1 10
kw3 30

In [27]:
d = {"a": [1, 2], "b": [3, 4]}
d1 = d.copy()

In [28]:
d, d1

({'a': [1, 2], 'b': [3, 4]}, {'a': [1, 2], 'b': [3, 4]})

In [29]:
d is d1

False

In [30]:
d['a'] is d1['a']

True

In [31]:
d['a'].append(100)

In [32]:
d

{'a': [1, 2, 100], 'b': [3, 4]}

In [33]:
d1

{'a': [1, 2, 100], 'b': [3, 4]}

In [34]:
d['x'] = 100
d

{'a': [1, 2, 100], 'b': [3, 4], 'x': 100}

In [35]:
d1

{'a': [1, 2, 100], 'b': [3, 4]}

In [36]:
del d['a']

In [37]:
d

{'b': [3, 4], 'x': 100}

In [38]:
d1

{'a': [1, 2, 100], 'b': [3, 4]}

In [46]:
from copy import deepcopy

d = {"id": 123445, "person": {"name": "John", "age": 78}, "posts": [100, 105, 200]}
d_deep = deepcopy(d)
d_shallow = d.copy()

id(d), id(d_shallow), id(d_deep)

(2734181071040, 2734181068160, 2734181068416)

In [47]:
id(d['person']), id(d_shallow['person']), id(d_deep['person'])

(2734181067776, 2734181067776, 2734181064128)

In [48]:
d1 = {'a': [1, 2], "b": [3, 4]}
d1

{'a': [1, 2], 'b': [3, 4]}

In [49]:
d = {**d1, "c": 100}
d

{'a': [1, 2], 'b': [3, 4], 'c': 100}

In [51]:
id(d["a"]), id(d1["a"])

(2734181198528, 2734181198528)

In [52]:
d1 = {'a': [1, 2], "b": [3, 4]}
d2 = dict(d1)

id(d1), id(d2)

(2734181057344, 2734181010496)

In [53]:
d1['a'] is d2['a']

True

In [55]:
d1 = {'a': [1, 2], "b": [3, 4]}
d2 = {k: v for k, v in d1.items()}

d1, d2

({'a': [1, 2], 'b': [3, 4]}, {'a': [1, 2], 'b': [3, 4]})

In [57]:
d1["a"] is d2["a"]

True

In [58]:
from random import randint

big_d = {k: randint(1, 100) for k in range(1_000_000)}

len(big_d)

1000000

In [59]:
def copy_unpacking(d):
    d1 = {**d}

def copy_copy(d):
    d1 = d.copy()

def copy_create(d):
    d1 = dict(d)

def copy_comprehension(d):
    d1 = {key: value for key, value in d.items()}

def copy_deepcopy(d):
    d1 = deepcopy(d)

from timeit import timeit

In [62]:
timeit("copy_unpacking(big_d)", globals=globals(), number=100)

2.1604307999950834

In [63]:
timeit("copy_copy(big_d)", globals=globals(), number=100)

1.9803941999998642

In [64]:
timeit("copy_create(big_d)", globals=globals(), number=100)

1.6276734999992186

In [65]:
timeit("copy_comprehension(big_d)", globals=globals(), number=100)

5.80137790000299

In [67]:
timeit("copy_deepcopy(big_d)", globals=globals(), number=100)

44.600184000009904