In [1]:
class Point3D:
  def __init__(self, x, y, z):
    self.x = x
    self.y = y
    self.z = z

In [2]:
from collections import namedtuple

Point2D = namedtuple('Point2D', ['x', 'y'])

In [3]:
pt1 = Point2D(10, 20)

pt1

Point2D(x=10, y=20)

In [4]:
Pt2D = namedtuple('Point2D', ['x', 'y'])

pt2 = Pt2D(10, 20)
pt2

Point2D(x=10, y=20)

In [5]:
pt3 = Point3D(10, 20, 30)

isinstance(pt2, tuple)

True

In [6]:
isinstance(pt3, tuple)

False

In [7]:
pt1 = Point2D(10, 20)
pt2 = Point2D(10, 20)

pt1 is pt2

False

In [8]:
pt1 == pt2

True

In [9]:
def dot_product(a, b):
  return sum(e[0] * e[1] for e in zip(a, b))

In [10]:
Vector3D = namedtuple('Vector3D', 'x y z')
v1 = Vector3D(1, 2, 3)
v2 = Vector3D(1, 1, 1)

dot_product(v1, v2)

6

In [11]:
Circle = namedtuple('Circle', 'center_x center_y radius')
c = Circle(0, 0, 10)
c

Circle(center_x=0, center_y=0, radius=10)

In [12]:
for i in c:
  print(i)

0
0
10

In [13]:
center_x, center_y, radius = c
print(center_x)
print(center_y)
print(radius)

0
0
10

In [14]:
*_, radius = c
print(radius)

10

In [15]:
Person = namedtuple('Person', 'name age _ssn', rename=True)
p = Person('John', 30, 255)
p._fields

('name', 'age', '_2')

In [16]:
Point2D._fields

('x', 'y')

In [17]:
type(c._asdict())

dict

In [19]:
Point2D = namedtuple('Point2D', ['x', 'y'])
pt = Point2D(10, 20)
pt

Point2D(x=10, y=20)

In [20]:
pt.x

10

In [21]:
pt[0]

10

In [22]:
pt = Point2D(100, pt.y)

In [48]:
Stock = namedtuple('Stock', ['symbol', 'year', 'month', 'day', 'open', 'high', 'low', 'close'])
djia = Stock('DJIA', 2018, 1, 25, 26_313, 26_458, 26_260, 26_393)
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [27]:
djia = Stock(djia.symbol, djia.year, djia.month, djia.day, djia.open, djia.high,
             djia.low, 1000)
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=1000)

In [29]:
*values, close = djia
values

['DJIA', 2018, 1, 25, 26313, 26458, 26260]

In [30]:
close

1000

In [31]:
values.append(26_393)

In [32]:
Stock(*values)

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [50]:
values = djia[:7]
values

('DJIA', 2018, 1, 25, 26313, 26458, 26260)

In [37]:
values + (100,)

('DJIA', 2018, 1, 25, 26313, 26458, 26260, 100)

In [40]:
djia = Stock(*(values + (100,)))
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=100)

In [42]:
djia = Stock(*values, 1000)

In [43]:
djia = djia._replace(year = 2025, open = 10000)

In [44]:
djia

Stock(symbol='DJIA', year=2025, month=1, day=25, open=10000, high=26458, low=26260, close=1000)

In [45]:
djia = Stock._make(values + (100,))

In [46]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=100)

In [53]:
djia = Stock._make(values + (100,))
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=100)

In [55]:
djia = djia._replace(close = 10000)
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=10000)

In [57]:
Point2D._fields

('x', 'y')

In [59]:
Point3D = namedtuple('Point3D', 'x y z')

In [60]:
Point2D._fields + ('z',)

('x', 'y', 'z')

In [61]:
Point3D = namedtuple('Point3D', Point2D._fields + ('z',))

In [62]:
# pt3d = Point3D(p)

In [64]:
pt

Point2D(x=100, y=20)

In [66]:
pt3d = Point3D(*pt + (200,))

In [69]:
Point2D = namedtuple('Point2D', 'x y')
Point2D.__doc__

'Point2D(x, y)'

In [70]:
Point2D.x.__doc__

'Alias for field number 0'

In [71]:
Point2D.y.__doc__

'Alias for field number 1'

In [72]:
Point2D.__doc__ = '2D Cartesian coordinate'
Point2D.x.__doc__ = 'x coordinate'
Point2D.y.__doc__ = 'y coordinate'

In [73]:
Point2D.__doc__

'2D Cartesian coordinate'

In [74]:
Vector2D = namedtuple('Vector2D', 'x1 y1 x2 y2 origin_x origin_y')
Vector2D._fields

('x1', 'y1', 'x2', 'y2', 'origin_x', 'origin_y')

In [76]:
vector_zero = Vector2D(0, 0, 0, 0, 0, 0)
vector_zero

Vector2D(x1=0, y1=0, x2=0, y2=0, origin_x=0, origin_y=0)

In [78]:
v2 = vector_zero._replace(x1 = 10, y1 = 10, x2 = 20, y2 = 20)
v2

Vector2D(x1=10, y1=10, x2=20, y2=20, origin_x=0, origin_y=0)

In [79]:
Vector2D.__new__.__defaults__

In [80]:
Vector2D.__new__.__defaults__ = (0, 0)

In [81]:
Vector2D.__new__.__defaults__

(0, 0)

In [83]:
v1 = Vector2D(10, 10, 20, 20)
v1

Vector2D(x1=10, y1=10, x2=20, y2=20, origin_x=0, origin_y=0)

In [85]:
from random import randint, random

def random_color():
  red = randint(0, 255)
  blue = randint(0, 255)
  green = randint(0, 255)
  alpha = round(random(), 2)
  return red, green, blue, alpha

In [86]:
color = random_color()
color

(201, 86, 108, 0.51)

In [87]:
red, green, blue, alpha = color

In [88]:
data_dict = dict(key1=100, key2=200, key3=300)
data_dict['key1']

100

In [90]:
Data = namedtuple('Data', data_dict.keys())

In [93]:
data_dict.keys()

dict_keys(['key1', 'key2', 'key3'])

In [95]:
my_data = Data(*data_dict.values())
my_data

Data(key1=100, key2=200, key3=300)

In [97]:
d2 = Data(**data_dict)
d2

Data(key1=100, key2=200, key3=300)

In [98]:
key_name = 'key2'
data_dict[key_name]

200

In [99]:
getattr(d2, key_name)

200

In [100]:
data_list = [
  {'key1': 1, 'key2': 2},
  {'key1': 3, 'key2': 4},
  {'key1': 5, 'key2': 6, 'key3': 7},
  {'key2': 100}
]

In [103]:
keys = {key for dict_ in data_list for key in dict_.keys()}
keys

{'key1', 'key2', 'key3'}

In [106]:
Struct = namedtuple('Struct', sorted(keys))
Struct.__new__.__defaults__ = (None, ) * len(Struct._fields)

In [109]:
tuple_list = []

for dict_ in data_list:
  tuple_list.append(Struct(**dict_))

tuple_list

[Struct(key1=1, key2=2, key3=None),
 Struct(key1=3, key2=4, key3=None),
 Struct(key1=5, key2=6, key3=7),
 Struct(key1=None, key2=100, key3=None)]

In [124]:
def gen_func(list_of_dict):
  keys = {key for dict_ in list_of_dict for key in dict_.keys()}
  Struct = namedtuple('Struct', sorted(keys))
  Struct.__new__.__defaults__ = (None, ) * len(keys)
  tuple_list = [Struct(**dict_) for dict_ in list_of_dict]
  return tuple_list

In [125]:
gen_func(data_list)

[Struct(key1=1, key2=2, key3=None),
 Struct(key1=3, key2=4, key3=None),
 Struct(key1=5, key2=6, key3=7),
 Struct(key1=None, key2=100, key3=None)]

In [ ]:
!git add .
!git commit -m "named tuples as alternativve "