In [ ]:
class Point3D:
  def __init__(self, x, y, z):
    self.x = x
    self.y = y
    self.z = z

In [ ]:
from collections import namedtuple

Point2D = namedtuple('Point2D', ['x', 'y'])

In [ ]:
pt1 = Point2D(10, 20)

pt1

Point2D(x=10, y=20)

In [ ]:
Pt2D = namedtuple('Point2D', ['x', 'y'])

pt2 = Pt2D(10, 20)
pt2

Point2D(x=10, y=20)

In [ ]:
pt3 = Point3D(10, 20, 30)

isinstance(pt2, tuple)

True

In [ ]:
isinstance(pt3, tuple)

False

In [ ]:
pt1 = Point2D(10, 20)
pt2 = Point2D(10, 20)

pt1 is pt2

False

In [ ]:
pt1 == pt2

True

In [ ]:
def dot_product(a, b):
  return sum(e[0] * e[1] for e in zip(a, b))

In [ ]:
Vector3D = namedtuple('Vector3D', 'x y z')
v1 = Vector3D(1, 2, 3)
v2 = Vector3D(1, 1, 1)

dot_product(v1, v2)

6

In [ ]:
Circle = namedtuple('Circle', 'center_x center_y radius')
c = Circle(0, 0, 10)
c

Circle(center_x=0, center_y=0, radius=10)

In [ ]:
for i in c:
  print(i)

0
0
10

In [ ]:
center_x, center_y, radius = c
print(center_x)
print(center_y)
print(radius)

0
0
10

In [ ]:
*_, radius = c
print(radius)

10

In [ ]:
Person = namedtuple('Person', 'name age _ssn', rename=True)
p = Person('John', 30, 255)
p._fields

('name', 'age', '_2')

In [ ]:
Point2D._fields

('x', 'y')

In [ ]:
type(c._asdict())

dict