###Lists are mutable using the [] notation

In [ ]:
l = [1,2,3,4,5]
print(id(l))
l[0] = 'a'
print(id(l))

132860729886528
132860729886528

###Useful methods for mutable sequences

In [ ]:
# Using the + operator changes the memory index and creates a new object while using .append() doesn't
l = [1, 2, 3]
print(id(l))
l = l + [4]
print(id(l))

132860161561152
132860161562304

In [ ]:
l = [1, 2, 3]
print(id(l))
l.append(4)
print(id(l))

132860161464256
132860161464256

In [ ]:
# The extend method unpacks an iterable and adds the elements to another iterable
l = [1,2,3]
l.extend([4,5])
print(l)

[1, 2, 3, 4, 5]

In [ ]:
# There are several methods for removing elements. pop removes and return the element
l = [1,2,3,4,5]
print(id(l))
result = l.pop(3)
print(result)
print(l)
print(id(l))
print('\n\n')

# Another way is to delete an element
l = [1,2,3,4,5]
print(l)
del l[1]
print(l)

132860160125120
4
[1, 2, 3, 5]
132860160125120



[1, 2, 3, 4, 5]
[1, 3, 4, 5]

In [ ]:
# Inserting elements
l = [1,2,3,4,5]
print(id(l))
l.insert(1, 'a')
print(l)
print(id(l))

132860729889792
[1, 'a', 2, 3, 4, 5]
132860729889792

In [ ]:
# Reversing a sequence with slicing creates a new object in memory, while using the reverse method doing an inplace reversal

l = [1,2,3,4,5]
print(id(l))
l2 = l[::-1]
print(id(l2))
l.reverse()
print(l)
print(id(l))

132860160143872
132860160138624
[5, 4, 3, 2, 1]
132860160143872

In [ ]:
# If we want to create a new copy of a list we can use the copy method
l = [1,2,3,4,5]
l2 = l.copy()
print(id(l))
print(id(l2))

132860160142848
132860160142080