In [1]:
class Person:
    def __init__(self, name):
        self.name = name

    def __repr__(self):
        return f"Person(name={self.name})"

p1 = Person("John")
p2 = Person("Eric")

hash(p1), hash(p2)

(119687764013, 119687764105)

In [2]:
s1 = {p1, p2}
s1

{Person(name=Eric), Person(name=John)}

In [3]:
s2 = s1.copy()
s1 is s2

False

In [5]:
p1 in s1

True

In [6]:
p1 in s2

True

In [7]:
s3 = {*s1}

In [8]:
s3 is s1

False

In [9]:
s1 == s3

True

In [10]:
p1.name = "John Cleese"
p1

Person(name=John Cleese)

In [11]:
s1, s2, s3

({Person(name=Eric), Person(name=John Cleese)},
 {Person(name=Eric), Person(name=John Cleese)},
 {Person(name=Eric), Person(name=John Cleese)})

In [12]:
hash(p1)

119687764013

In [13]:
hash(p2)

119687764105

In [14]:
s4 = set(s1)

In [15]:
s4 == s1

True

In [16]:
s1 is s4

False

In [17]:
from copy import deepcopy

s5 = deepcopy(s1)

s5 is s1

False

In [18]:
s1 == s5

False

In [21]:
[(o, id(o)) for o in s1]

[(Person(name=Eric), 1915004225680), (Person(name=John Cleese), 1915004224208)]

In [22]:
[(o, id(o)) for o in s2]

[(Person(name=Eric), 1915004225680), (Person(name=John Cleese), 1915004224208)]

In [23]:
[(o, id(o)) for o in s5]

[(Person(name=Eric), 1915004240208), (Person(name=John Cleese), 1915004335824)]

In [24]:
p2.name = "Eric Idle"

s1, s2, s3, s4

({Person(name=Eric Idle), Person(name=John Cleese)},
 {Person(name=Eric Idle), Person(name=John Cleese)},
 {Person(name=Eric Idle), Person(name=John Cleese)},
 {Person(name=Eric Idle), Person(name=John Cleese)})