In [4]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

print(s1, id(s1))
print(s2, id(s2))

{1, 2, 3} 2336852354304
{2, 3, 4} 2336852356320

In [5]:
s1 = s1 & s2

print(s1, id(s1))
print(s2, id(s2))

{2, 3} 2336851169728
{2, 3, 4} 2336852356320

In [6]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

print(id(s1))
s1 |= s2
print(s1, id(s1))

2336852356096
{1, 2, 3, 4} 2336852356096

In [8]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

print(id(s1))
s1.update(s2)
print(s1, id(s1))

2336852354528
{1, 2, 3, 4} 2336852354528

In [9]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

print(id(s1))
s1 &= s2
print(s1, id(s1))

2336852356096
{2, 3} 2336852356096

In [10]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

print(id(s1))
s1.intersection_update(s2)
print(s1, id(s1))

2336851169728
{2, 3} 2336851169728

In [11]:
s1 = {1, 2, 3, 4}
s2 = {2, 3}
print(id(s1))
s1 -= s2
print(s1, id(s1))

2336852352960
{1, 4} 2336852352960

In [12]:
s1 = {1, 2, 3, 4}
s2 = {2, 3}
print(id(s1))
s1.difference_update(s2)
print(s1, id(s1))

2336852353856
{1, 4} 2336852353856

In [13]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7}
s1 ^ s2

{1, 2, 3, 6, 7}

In [14]:
print(id(s1))
s1 ^= s2

2336851169728

In [15]:
print(id(s1), s1)

2336851169728 {1, 2, 3, 6, 7}

In [16]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s3 = {5, 6, 7}

print(id(s1))
s1 |= s2 | s3
print(id(s1), s1)

2336852353632
2336852353632 {1, 2, 3, 4, 5, 6, 7}

In [18]:
s1 = {1, 2, 3}
s1.update([3, 4, 5], (6, 7, 8), "abc")
s1

{1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c'}

In [19]:
s1 = {1, 2, 3}
s1 |= set([3, 4, 5]) | set((6, 7, 8)) | set("abc")
s1

{1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c'}

In [20]:
def combine(string, target):
    target.update(string.split(" "))

def cleanup(combined):
    words = {"the", "and", "a", "or", "is", "of"}
    combined -= words

result = set()

combine("lumberjacks sleep all night", result)
combine("the ministry of silly walks", result)
combine("this parrot is a late parrot", result)
cleanup(result)
print(result)

{'lumberjacks', 'late', 'silly', 'ministry', 'night', 'all', 'parrot', 'this', 'sleep', 'walks'}

In [22]:
def gen_read_data():
    yield ["Paris", "Beijing", "New York", "London", "Madrid", "Mumbai"]
    yield ["Hyderabad", "New York", "Milan", "Phoenix", "Berlin", "Cairo"]
    yield ["Stockholm", "Cairo", "Paris", "Barcelona", "San Francisco", "Cologne"]

data = gen_read_data()

next(data)

['Paris', 'Beijing', 'New York', 'London', 'Madrid', 'Mumbai']

In [23]:
next(data)

['Hyderabad', 'New York', 'Milan', 'Phoenix', 'Berlin', 'Cairo']

In [24]:
next(data)

['Stockholm', 'Cairo', 'Paris', 'Barcelona', 'San Francisco', 'Cologne']

In [27]:
data_set = {"Berlin", "Cairo", "Stockholm", "San Francisco", "Paris", "Cologne", "New York", "Barcelona", "Hyderabad", "Milan", "Phoenix", "Mumbai", "Madrid", "London", "Beijing", "Berlin", "Cairo", "Stockholm", "San Francisco", "Paris", "Cologne", "New York", "Barcelona", "Hyderabad", "Milan", "Phoenix", "Mumbai", "Madrid", "London", "Beijing"}
print(id(data_set))
print("Berlin" in data_set)
def filter_incoming(*cities, data_set):
    data_set.difference_update(cities)
    return data_set

data_set = filter_incoming("Berlin", "Cairo", data_set=data_set)
print(id(data_set))

2336858670240
True
2336858670240

In [29]:
"Berlin" in data_set

False