In [1]:
class Point3D:
  def __init__(self, x, y, z):
    self.x = x
    self.y = y
    self.z = z

In [2]:
from collections import namedtuple

Point2D = namedtuple('Point2D', ['x', 'y'])

In [3]:
pt1 = Point2D(10, 20)

pt1

Point2D(x=10, y=20)

In [4]:
Pt2D = namedtuple('Point2D', ['x', 'y'])

pt2 = Pt2D(10, 20)
pt2

Point2D(x=10, y=20)

In [5]:
pt3 = Point3D(10, 20, 30)

isinstance(pt2, tuple)

True

In [6]:
isinstance(pt3, tuple)

False

In [7]:
pt1 = Point2D(10, 20)
pt2 = Point2D(10, 20)

pt1 is pt2

False

In [8]:
pt1 == pt2

True

In [9]:
def dot_product(a, b):
  return sum(e[0] * e[1] for e in zip(a, b))

In [10]:
Vector3D = namedtuple('Vector3D', 'x y z')
v1 = Vector3D(1, 2, 3)
v2 = Vector3D(1, 1, 1)

dot_product(v1, v2)

6

In [11]:
Circle = namedtuple('Circle', 'center_x center_y radius')
c = Circle(0, 0, 10)
c

Circle(center_x=0, center_y=0, radius=10)

In [12]:
for i in c:
  print(i)

0
0
10

In [13]:
center_x, center_y, radius = c
print(center_x)
print(center_y)
print(radius)

0
0
10

In [14]:
*_, radius = c
print(radius)

10

In [15]:
Person = namedtuple('Person', 'name age _ssn', rename=True)
p = Person('John', 30, 255)
p._fields

('name', 'age', '_2')

In [16]:
Point2D._fields

('x', 'y')

In [17]:
type(c._asdict())

dict

In [19]:
Point2D = namedtuple('Point2D', ['x', 'y'])
pt = Point2D(10, 20)
pt

Point2D(x=10, y=20)

In [20]:
pt.x

10

In [21]:
pt[0]

10

In [22]:
pt = Point2D(100, pt.y)

In [24]:
Stock = namedtuple('Stock', ['symbol', 'year', 'month', 'day', 'open', 'high', 'low', 'close'])
djia = Stock('DJIA', 2018, 1, 25, 26_313, 26_458, 26_260, 26_393)
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [ ]:
djia = Stock(djia.symbol, djia.year, djia.month, djia.day, djia.open, djia.high,
             djia.low, 100)